




footer.flex{
    justify-content: space-between;
    margin-bottom: 1;
}

footer.flex ul.flex{
    gap: 1rem;
    
}

footer.flex ul.flex a{
    color: var(--suptitle);
    font-size: .9rem;
}

footer.flex ul.flex a:hover{
    color: var(--blue);
    font-size: 1rem;
    font-weight: 500;
}

footer.flex p{
    color: rgb(113 113 122);
}


/*//////////// resposive ////////////*/

@media (max-width:800px) {

   footer.flex{
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
   }



}

